.leftPanel {
  position: absolute;
  top: var(--top-panel-height);
  left: 0;
  width: var(--left-panel-width);
  height: calc(100% - var(--top-panel-height) - var(--bottom-panel-height));
  background-color: var(--bg-panel);
  font-size: 14px;
  z-index: 1;
  transition: transform 0.3s ease;
}

.sideTabs {
  display: flex;
  height: 50px;
  background-color: var(--bg-panel-header);
}

.sideTab {
  flex: 1;
  cursor: pointer;
  text-align: center;
  padding-top: 13px;
}

.panelContent {
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px;
  height: calc(100% - 50px);
}

.unitList {
  padding: 0;
  list-style-type: none;
}

.groupItem {
  padding-top: 10px;
}

.unitItem {
  padding-left: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.unitItem:hover {
  background-color: var(--highlight);
}

.sideTitle {
  text-shadow: 1px 1px #000;
  font-weight: bold;
}

@media (max-width: 768px) {
  .leftPanel {
    width: 100%;
    height: calc(50% - var(--top-panel-height) - var(--bottom-panel-height));
  }
}

@media (max-width: 480px) {
  .leftPanel {
    top: 32px;
  }
}
