# Git
.git
.gitignore

# GitHub
.github

# IDE
.idea

# Documentation
docs/
*.md

# Build artifacts
/ocap-webserver
/ocap-webserver.exe

# Runtime data
data.db
data/
maps/
*.log

# Frontend build artifacts
**/node_modules
ui/dist
internal/frontend/dist

# Local config
setting.json
