{
	"ammo": "assets/ammo",
	"conversion": {
		"batchSize": 1,
		"chunkSize": 300,
		"enabled": false,
		"interval": "5m",
		"retryFailed": false
	},
	"customize": {
		"disableKillCount": false,
		"enabled": false,
		"headerSubtitle": "",
		"headerTitle": "",
		"websiteLogo": "",
		"websiteLogoSize": "32px",
		"websiteURL": ""
	},
	"data": "data",
	"db": "data.db",
	"fonts": "assets/fonts",
	"listen": "127.0.0.1:5000",
	"logger": false,
	"maps": "maps",
	"markers": "assets/markers",
	"prefixURL": "",
	"secret": "change-me",
	"static": ""
}
