{
	"listen": "127.0.0.1:5000",
	"secret": "same-secret",
	"logger": true,
	"customize": {
		"websiteURL": "",
		"websiteLogo": "",
		"websiteLogoSize": "128px",
		"disableKillCount": false
	},
	"database": {
		"dsn": "user=postgres password=postgres dbname=ocap sslmode=disable"
	}
}