.maplibre-styles {
    padding: 4px;
}
.maplibre-styles.closed .maplibre-style-item {
    display: none;
}
.maplibre-styles.closed .maplibre-style-item.alt {
    display: inline-block;
}

.maplibre-style-item {
    display: inline-block;
    cursor: pointer;
}
.maplibre-style-item img {
    width: 64px;
    border: 2px solid #FFF;
    margin: 0 2px;
    border-radius: 40px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.maplibre-style-item.active img {
    border-color: orange;
    box-shadow: 2px 2px 4px #000;
}
