/* Grid Layer Styles */

.grid-label {
	pointer-events: none;
}

.grid-label span {
	display: inline-block;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 10px;
	font-family: Roboto, Arial, sans-serif;
	padding: 1px 4px;
	border-radius: 2px;
	white-space: nowrap;
}

.grid-label-left span {
	margin-left: 2px;
}

.grid-label-bottom span {
	margin-top: 2px;
}
